<?xml version="1.0" encoding="utf-8"?>
<!--NephroThai or Center-->
<!--database config-->
<configs>
  <location>2</location>
  <path>D:\11750-03\1737TRTSystem3.4.0.0\Database</path>
  <filename>1737TRTDatabase.mdb</filename>
  <centerid>1737</centerid>
  <centername>แผนกไตเทียมชั้น 8 E หน่วย 2 โรงพยาบาลหัวเฉียว (บจก. ฟีนิกซ์ไตเทียม)</centername>
</configs>